<mat-toolbar style="background:rgb(26, 2, 2);color:white">
    <button mat-icon-button (click)="sidenav_click()">
        <mat-icon>menu</mat-icon>
    </button>
  <span>this is header</span>
  <span fxFlex></span>
  <button mat-icon-button matTooltip="home" routerLink="/home">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Search">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button matTooltip="About">
    <mat-icon>info</mat-icon>
  </button>
</mat-toolbar>
