<div fxFill fxLayout="column" class="layout">
  <div class="header" fxLayout="row">
    <app-header fxFlex (sidenavClick)="sidenav.open()"></app-header>
  </div>

  <div fxFlex fxLayout="row" class="main">

      <!-- for moblie usage
           <div fxFlex="200px" class="aside scrollbar" fxHide.xs>
          <app-aside></app-aside>
         </div>
      <mat-sidenav-container fxFlex>
          <mat-sidenav #sidenav mode="over" fxHide fxShow.xs>
            <div fxFlex="200px" class="aside scrollbar">
              <app-aside></app-aside>
             </div>
           </mat-sidenav> -->
           <mat-sidenav-container fxFlex>
              <mat-sidenav #sidenav mode="over" >
                <div fxFlex="200px" class="aside scrollbar" >
                  <app-aside (menuClick)="sidenav.close()"></app-aside>
                 </div>
               </mat-sidenav>

     <!-- <div fxFlex class="content">
      <router-outlet></router-outlet>
    </div> -->
    <div class="content">
      <mat-grid-list cols="6" rowHeight="350px" gutterSize="10px" ratio="5:3">
        <mat-grid-tile
            *ngFor="let tile of tiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows">
            <img src={{tile.src}}/>

        </mat-grid-tile>

      </mat-grid-list>
    </div>
  </mat-sidenav-container>
  </div>
</div>
