<div fxFill fxLayout="column" class="layout">
  <div class="header" fxLayout="row">
    <app-header fxFlex (sidenavClick)="sidenav.open()"></app-header>
  </div>

  <div fxFlex fxLayout="row" class="main">
           <mat-sidenav-container fxFlex>
              <mat-sidenav #sidenav mode="over" >
                <div fxFlex="200px" class="aside scrollbar" >
                  <app-aside (menuClick)="sidenav.close()"></app-aside>
                 </div>
               </mat-sidenav>

    <!-- screen > 1280 -->
    <div class="content scrollbar" style="width:100%;height:100%">
      <div class="slider">
        <app-slider></app-slider>
      </div>
      <div calss="jp">
          <img src={{jpsrc}} class="jpimg"/>
      </div>
      <div class="sideline">
        <img src={{sidesrc}} class="sideimg"/>
      </div>
      <!-- <div id="odometer" class="odometer" [innerHTML]="timerNum"></div> -->

      <div class="gameiconContainerXL" fxHide.lt-lg fxShow.gt-md>
      <mat-grid-list cols="6" rowHeight="1:1" gutterSize="-10px" style="position: relative">
        <mat-grid-tile
            *ngFor="let tile of tiles; let gameIndex = index">
            <img src={{imgsrc[gameIndex]}} (mouseover)="onMouseOver(gameIndex)" (mouseout)="onMouseOut(gameIndex)" class="gameIcon" (click)="gameClick(gameIndex)"/>
        <mat-grid-tile-footer class="IconFooter">
            <div class="IconFooterText">{{gamename[gameIndex]}}</div>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      </mat-grid-list>
      </div>
      <div class="gameiconContainerMD" fxHide.gt-md fxShow.gt-xs fxHide.lt-sm>
        <mat-grid-list cols="4" rowHeight="1:1.1" gutterSize="-15px" style="position: relative">
          <mat-grid-tile
              *ngFor="let tile of tiles; let gameIndex = index">
              <img src={{imgsrc[gameIndex]}} (mouseover)="onMouseOver(gameIndex)" (mouseout)="onMouseOut(gameIndex)" class="gameIcon" (click)="gameClick(gameIndex)"/>
          <mat-grid-tile-footer class="IconFooter">
              <div class="IconFooterText">{{gamename[gameIndex]}}</div>
          </mat-grid-tile-footer>
        </mat-grid-tile>
        </mat-grid-list>
        </div>
        <div class="gameiconContainerSM" fxHide fxShow.xs>
          <mat-grid-list cols="3" rowHeight="1:1.2" gutterSize="-15px" style="position: relative">
            <mat-grid-tile
                *ngFor="let tile of tiles; let gameIndex = index">
                <img src={{imgsrc[gameIndex]}} (mouseover)="onMouseOver(gameIndex)" (mouseout)="onMouseOut(gameIndex)" class="gameIcon" (click)="gameClick(gameIndex)"/>
            <mat-grid-tile-footer class="IconFooterSM">
                <div class="IconFooterText">{{gamename[gameIndex]}}</div>
            </mat-grid-tile-footer>
          </mat-grid-tile>
          </mat-grid-list>
          </div>
          <div class="footer" fxLayout="row" style="color:white;text-align:center;margin-top:50px;margin-bottom:20px">
            <p  style="width:100%">this is footer</p>
          </div>
        </div>
  </mat-sidenav-container>
  </div>

</div>
